<!DOCTYPE html>
<html>
<head>
  <title>Bribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'nav/navbar' %>
  <% if flash[:notice] %>
    <div class= 'alert alert-info' role='alert'>
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class= 'alert alert-danger' role='alert'>
       <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    
<%= yield %>

</body>
</html>
